/* src/App.css */
.App {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: rgb(99, 198, 99);
}

input {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

h2 {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 1rem 0;
}
